html {
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif !important;
}

body {
  font-family: 'Titillium Web', sans-serif !important;
  font-weight: normal;
  background: var(--surface-ground);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  background: var(--surface-card);
  border-radius: 10px;
  margin-bottom: 1rem;
}

p {
  line-height: 1.75;
}
